// Suas sobrescrições de variáveis
$body-bg: #ebebeb;

.navbar{
    background-color: #FFF600;
    margin-bottom: 30px !important;
}

.navbar-logo{
    margin-right: 16px;
}

.navbar-collapse {
    flex-basis: 0% !important; 
    flex-grow: 1;
    align-items: center;
}

.form-search input::placeholder{
    color: #999999;
}

.form-search input{
    border-radius: 2px;
    background-color: #fff;
    border: 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

.input-group-append{
    border-radius: 2px;
    background-color: #fff;
    border: 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);    
}

.form-search{
    width: 100%;
}

.jumbotron{
    background-color: #ffffff !important;
}

.list-group img{
    width: 160px;
    height: 160px;
}

.listproduct{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

//Bootstrap e suas variáveis padrões
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/grid";